.login{
    background-image: url("/images/cover-img.jpg");
    background-position: center;
    height: 100vh;
    width: 100vw;
    
    &--overlay{
        display: flex;
        position: relative;
        height: 100vh;
        width: 100vw;
        top:0;
        left:0;
        z-index: 0;
        background-image: linear-gradient(rgba(#000,0.5), rgba(#000,0.8));
    }
    &__branding{
        justify-self: center;
        flex: 1;
        margin: 50px;
        h2{
            font-size: 1.4em;
            color: #fff;
            span{
                color: #FD2E2E;
            }
        }
        hr{
            border-top: 4px solid #B2002D;
            width: 150px;
            height: 0;
        }
        &>span{
            color:#fff;
        }
    }
    &__box{
        flex: 1;
        padding: 20px;
        margin: 150px 200px;
        border-radius: 8px;
        background-color: #fff;
        &--apple-login{
            background-color: #000;
        }
        &--facebook-login{
            background-color: #3A5998;
        }
        button{
            color: #fff;
            margin: 10px 0;
            height:30px;
            width: 100%;
            border-radius: 8px;
        }
        span{
            background-color: #fff;
        }
        hr{
            position: relative;
            top:-10px;
            border-top: 2px solid #F6F7F8;
        }
        input[type="text"]{
            border-radius: 8px;
            border: 2px solid #F6F7F8;
        }
        input[type="submit"]{
            background-color: #FD2E2E;
        }
        p{
            a{
                text-decoration: none;
                color:#B2002D;
            }
        }
    }
}
