.background{
    background-image: url("../images/cover-img.jpg");
    background-position: center;
    background-size: 100% auto;
    height: 100vh;
    width: auto;
}

.signup{
    display: flex;
    position: relative;
    height: 100vh;
    width: auto;
    top:0;
    left:0;
    z-index: 0;
    background-image: linear-gradient(rgba(#000,0.5), rgba(#000,0.8));
    &__branding{
        justify-self: center;
        margin: auto 15vh;
        width: 300px;
        h2{
            font-weight: 600;
            font-size: 2em;
            color: #fff;
            span{
                color: #FD2E2E;
            }
        }
        hr{
            border: 0;
            margin: 20px 0;
            border-top: 4px solid #B2002D;
            width: 70px;
            height: 0;
        }
        &>span{
            font-weight: 200;
            color:#fff;
        }
    }
    &__form{
        display: flex;
        flex-direction: column;
        padding: 20px;
        margin: auto 15vw auto auto;
        max-width: 400px;
        border-radius: 8px;
        background-color: #fff;
        h2{
            font-weight: 700;
            font-size: 1.4em;
            text-align: center;
            margin: 20px 0;
        }
        div{
            display: block;
            text-align: center;
            width: inherit;
            height: fit-content;
            a{
                text-decoration: none;
                color: rgb(15, 15, 185);
                font-weight: 600;
            }
        }
        button{
            cursor: pointer;
            color: #fff;
            margin: 10px 0;
            width: 100%;
            border-radius: 8px;
            border: 0;
            font-size: 0.8em;
            padding: 12px;
            line-height: 1.5em;
            img{
                height: 15px;
                width: auto;
                margin: 0 15px;
            }
        }
        hr{
            z-index: 0;
            position: relative;
            top:18px;
            border: 0;
            border-top: 2px solid #F6F7F8;
        }
        label{
            margin-top: 20px;
            padding: 5px 0;
        }
        input[type="text"], input[type="email"], input[type="password"] {
            border-radius: 8px;
            border: 2px solid #e7e7e7;
            height: 30px;
            padding: 0 5px;
        }
        input[type="submit"]{
            cursor: pointer;
            background-color: #FD2E2E;
            border: 0;
            border-radius: 8px;
            margin: 20px 0;
            color: #fff;
            font-size: 0.8em;
            padding: 12px;
        }
        input[type="submit"]:hover{
            background-color: #ff5050;
        }
        input[type="submit"]:active{
            background-color: #FD2E2E;
        }
        span{
            display: flex;
            align-items: center;
            margin: 20px 0;
            input[type="checkbox"]{
                height:20px;
                width: 20px;
            }
            label{
                margin-left: 5px;
                margin-top: 3px;
            }
        }
        p{
            font-size: 0.7em;
            text-align: center;
            padding: 0 40px 20px;
            a{
                text-decoration: none;
                color:#B2002D;
            }
        }
    }
}

@media (max-width:1024px)  {
    .background{
        background-size: auto 100%;
    }
    .signup{
        &__branding{
            margin: auto;
        }
        &__form{
            margin: auto;
        }
    }
}
@media (max-width:961px)  {
    .background{
        background-attachment: fixed;
    }
    .signup{
        flex-direction: column;
        &__branding{
            padding: 80px 0 0;
            margin: 0 80px;
        }
        &__form{
            margin: 50px auto;
        }
    }
}
@media (max-width:540px)  {
    .signup{
        &__branding{
            padding: 30px 0 0;
            margin: 0 80px;
        }
        &__form{
            margin: 20px auto;
        }
    }
}
@media (max-width:481px)  {
    .background{ 
        background-image: none;
    }
    .signup{
        background-image: none;
        display: block;
        &__branding{
            display: none;
        }
        &__form{
            padding-top: 20px;
            margin: 0 auto;
        }
    }
}