.background {
  background-image: url("../images/cover-img.jpg");
  background-position: center;
  background-size: 100% auto;
  height: 100vh;
  width: auto;
}

.signup {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  height: 100vh;
  width: auto;
  top: 0;
  left: 0;
  z-index: 0;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.8)));
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.8));
}

.signup__branding {
  -ms-grid-column-align: center;
      justify-self: center;
  margin: auto 15vh;
  width: 300px;
}

.signup__branding h2 {
  font-weight: 600;
  font-size: 2em;
  color: #fff;
}

.signup__branding h2 span {
  color: #FD2E2E;
}

.signup__branding hr {
  border: 0;
  margin: 20px 0;
  border-top: 4px solid #B2002D;
  width: 70px;
  height: 0;
}

.signup__branding > span {
  font-weight: 200;
  color: #fff;
}

.signup__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 20px;
  margin: auto 15vw auto auto;
  max-width: 400px;
  border-radius: 8px;
  background-color: #fff;
}

.signup__form h2 {
  font-weight: 700;
  font-size: 1.4em;
  text-align: center;
  margin: 20px 0;
}

.signup__form div {
  display: block;
  text-align: center;
  width: inherit;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.signup__form div a {
  text-decoration: none;
  color: #0f0fb9;
  font-weight: 600;
}

.signup__form button {
  cursor: pointer;
  color: #fff;
  margin: 10px 0;
  width: 100%;
  border-radius: 8px;
  border: 0;
  font-size: 0.8em;
  padding: 12px;
  line-height: 1.5em;
}

.signup__form button img {
  height: 15px;
  width: auto;
  margin: 0 15px;
}

.signup__form hr {
  z-index: 0;
  position: relative;
  top: 18px;
  border: 0;
  border-top: 2px solid #F6F7F8;
}

.signup__form label {
  margin-top: 20px;
  padding: 5px 0;
}

.signup__form input[type="text"], .signup__form input[type="email"], .signup__form input[type="password"] {
  border-radius: 8px;
  border: 2px solid #e7e7e7;
  height: 30px;
  padding: 0 5px;
}

.signup__form input[type="submit"] {
  cursor: pointer;
  background-color: #FD2E2E;
  border: 0;
  border-radius: 8px;
  margin: 20px 0;
  color: #fff;
  font-size: 0.8em;
  padding: 12px;
}

.signup__form input[type="submit"]:hover {
  background-color: #ff5050;
}

.signup__form input[type="submit"]:active {
  background-color: #FD2E2E;
}

.signup__form span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 20px 0;
}

.signup__form span input[type="checkbox"] {
  height: 20px;
  width: 20px;
}

.signup__form span label {
  margin-left: 5px;
  margin-top: 3px;
}

.signup__form p {
  font-size: 0.7em;
  text-align: center;
  padding: 0 40px 20px;
}

.signup__form p a {
  text-decoration: none;
  color: #B2002D;
}

@media (max-width: 1024px) {
  .background {
    background-size: auto 100%;
  }
  .signup__branding {
    margin: auto;
  }
  .signup__form {
    margin: auto;
  }
}

@media (max-width: 961px) {
  .background {
    background-attachment: fixed;
  }
  .signup {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .signup__branding {
    padding: 80px 0 0;
    margin: 0 80px;
  }
  .signup__form {
    margin: 50px auto;
  }
}

@media (max-width: 540px) {
  .signup__branding {
    padding: 30px 0 0;
    margin: 0 80px;
  }
  .signup__form {
    margin: 20px auto;
  }
}

@media (max-width: 481px) {
  .background {
    background-image: none;
  }
  .signup {
    background-image: none;
    display: block;
  }
  .signup__branding {
    display: none;
  }
  .signup__form {
    padding-top: 20px;
    margin: 0 auto;
  }
}
/*# sourceMappingURL=signup.css.map */